@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden overlay;
}

#app {
  height: 100%;
  background: #c9c8c89d;
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
